.navbar_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    /* margin-bottom: 100px; */
    background-color: #000;
}

.navbar_top h3 {
    font-family: 'Satisfy', cursive;
    font-size: 33px;
    font-weight: 600;
    padding-left: 15px;
    color: rgb(184, 184, 184);
    cursor: pointer;
}

.navbar_top svg {
    fill: rgb(184, 184, 184);
    font-size: 30px;
    padding-right: 15px;
    cursor: pointer;    
}