.search_block {
   display: flex;
   justify-content: space-between;
   width: 97vw;
   box-sizing: border-box;
   padding: 1rem;

}

.search_box {
   display: flex;
}
.search_block svg {
    width: 50px;
    height: 50px;
}

.search_box input {
   width: 800px;
   height: 50px;
   border: 1px solid;
   border-radius: 10px;
   font-size: 20px;
   padding-left: 5px;


}

.search_box input::placeholder{
    font-size: 20px;
}

.search_box input:focus{
    outline: none;
}